* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  
}

table {
  border-collapse: collapse;
}

.table-menu {
  position: absolute;
  width: 100%;
  display: none;
  top: 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  left: 60px;
}

ul {
  text-align: left;
}

li {
  list-style: none;
  padding: 5px;
}

li:hover {
  background-color: #dbd9d9;
}

.sort-icon {
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.sort-icon:active{
background-color: #dbd9d9;
}
.bg-red{
  background-color: red;
  color: white;
}
.bg-green{
  background-color: green;
  color: white;
}